html, body, #root, .App {
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
  background:#39aea9;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
}

.main{
  display: grid;
  text-align: center;
  background:#39aea9;
  justify-content: center;
  margin: 20px auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 3fr 2fr;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.vis{
  grid-area: 1 / 2 / span 2/ span 1;
}

.kanto-map{
  grid-area: 1 / 1 / span 1/ span 1;
}

.pokemon-info{
  grid-area: 2 / 1 / span 1/ span 1;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 700px){

  .App{
    flex-direction: column;

  }

  .main{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
  }

}
